<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/tufte.css"/>
  <link rel="stylesheet" href="/assets/css/latex.css"/>
  <link rel="stylesheet" href="/assets/css/custom.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <article>
  {{#block "body"}}
    {{{ contents }}}
  {{/block}}
  </article>
</body>
</html>
